
*{
    padding: 0;
    margin: 0;
}

h1, a {
    color: steelblue;
}
h1 {
    text-align: center;
    margin: 30px;

}
#emphasis {
    color: black;
}

.room {
    background-color: lightgray;
}

img {
    width: 50%;
    margin: 0 auto;
}

p {
    text-align: left;
    width: 900px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.5em;
}
#imgstuff{
    text-align: center;
}

div {
    text-align: center;
}
nav {
    text-align: center;
    padding: 25px;

}
nav a {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(70, 130, 189, .2);
    margin: 5;
    color: black;
    border: 2px solid steelblue;
    border-radius: 15px;
}
nav a:hover {
    color: black;
    background-color: rgba(70, 130, 189, .2);
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}